td {
    border: 1px solid blue;
    height: 100px;
    width: 100px;
    text-align: center;
  }
  td:hover {
    background: orange;
    cursor: pointer;
  }
  table {
    border: 1px solid green;
  }

  p {
    display: inline;
  }
